body {
    margin: 0;
    text-align: justify;
}

.header-wrapper {
    padding: 20px 10px;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Explore wrapper */

.links-wrapper button {
    /* margin-right: 10px;
    padding: 10px 20px; */
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
.links-wrapper button:hover {
    text-decoration: underline;
  }

.links-wrapper button.active{
    color: #cea135;
}

.explore-wrapper{
    display: flex;
}

/* Image */

.header-wrapper > .explore-wrapper > .header-logo img{
    height: 45px;
    padding-left: 30px;
}

.header-wrapper > .explore-wrapper  > .explore-content{
    display: grid;
    margin-left: 100px;
}

.header-wrapper > .explore-wrapper  > .explore-content > .links-wrapper {
    height: 25px;
    display: flex;
    align-items: center;
}
.header-wrapper > .explore-wrapper  > .explore-content > .links-wrapper > * {
    margin-right: 20px;
}

.header-wrapper > .explore-wrapper  > .explore-content span{
    color: #cea135;
    font-weight: 900;
}

